[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.2"
gunicorn = "*"
pandas = "*"
flask-pymongo = "*"
bson = "*"
flask-cors = "*"
dnspython = "*"
certifi = "*"
click = "*"
flask-sqlalchemy = "*"
greenlet = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
psycopg2-binary = "*"
pymongo = "*"
sqlalchemy = "*"
werkzeug = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
